<div class="header">
  <img src="https://raw.githubusercontent.com/MiguelAngel511/Sunshine-bouquet-front/main/public/logo.png" 
       alt="Logo de Sunshine Bouquet" 
       class="logo">
</div>

<div class="table-container">
  <h1>Lista De Productos :</h1>

  <table border="1" *ngIf="filteredProducts.length > 0; else noData">
    
    <tr class="filter-row">
      <td></td>
      <td><input type="text" [formControl]="nameFilter" class="filter-input" placeholder="Filtrar por Nombre"></td>
      <td><input type="text" [formControl]="speciesFilter" class="filter-input" placeholder="Filtrar por Especie"></td>
      <td><input type="text" [formControl]="typesFilter" class="filter-input" placeholder="Filtrar por Tipo"></td>
      <td><input type="text" [formControl]="qualitiesFilter" class="filter-input" placeholder="Filtrar por Calidad"></td>
      <td></td> 
    </tr>

    
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Species</th>
      <th>Types</th>
      <th>Qualities</th>
      <th>Image</th>
    </tr>

   
    <tr *ngFor="let product of filteredProducts">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.species}}</td>
      <td>{{product.types}}</td>
      <td>{{product.qualities}}</td>
      <td>
        <img [src]="product.image" alt="Product Image" width="100" height="100" />
      </td>
    </tr>
  </table>

  <ng-template #noData>
    <p>No hay productos disponibles.</p>
  </ng-template>
</div>
